.background {
  background-image: url("../../Assets/BG.jpeg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .background {
    height: 70vh;
  }
}

@media screen and (max-width: 992px) {
  .background {
    height: 60vh;
  }
}

@media screen and (max-width: 768px) {
  .background {
    height: 50vh;
  }
}

@media screen and (max-width: 480px) {
  .background {
    height: 30vh;
  }
}
