
.parent {
  width: 300px;
  padding: 15px;
  perspective: 1000px;
}

.card {
  padding-top: 30px;
  border-radius: 10px;
  border: 3px solid #d18800ba;
  transform-style: preserve-3d;
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  background-color: #1c293900;
  width: 100%;
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 5px 8px  0px  rgb(10, 12, 12);

}

.card:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  background-color:  #1c2939;
  border-radius: 10px 100px 10px 10px;
  transition: all 0.5s ease-in-out;
  padding: 25px 25px 25px 25px;
  transform-style: preserve-3d;
}

.content-box .card-title {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
  font-family: cursive;
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .card-content {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 60px);
}



.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}
