.landing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: radial-gradient(circle, #283849, #283849);
  align-items: center;
  height: 90vh;
  color: white;
}

/* Content Styles */
.content {
  margin-bottom: 0%;
  padding-left: 10px;
}

.image:hover {
  transform: scale(0.9);
}

.text1 h5 {
  color: #be7f12;
}
.aadityadav {
  display: flex;
  overflow: hidden;
  font-size: 70px;
  /* border-right: 3px solid #a7741e; */
  white-space: nowrap;
  font-weight: bold;
}

.imagesection {
  padding: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 44% 56% 70% 30% / 30% 30% 70% 70%;
}

.image {
  width: 15%;
  height: 250px; /* Minimized height */
  max-width: 100%;
  object-fit: contain;
  transition: transform 1s ease;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .text1 {
    font-size: 50px;
  }
  .content {
    margin: 5%;
  }

  .imagesection {
    padding: 10px;
  }

  .image {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .text1 {
    font-size: 60px;
  }

  .content {
    margin: 0%;
  }

  .imagesection {
    padding: 0px;
  }

  .image {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 768px) {
  .text1 {
    font-size: 40px;
  }

  .content {
    margin: 3%;
  }

  .imagesection {
    padding: 15px;
    max-width: 90%;
    height: auto;
  }
  .image {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 480px) {
  .landing {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 20px;
  }
  .text1 {
    font-size: 35px;
  }

  .content {
    margin: 10%;
  }
  .imagesection {
    padding: 0px;
    align-items: center;
  }

  .social {
    align-items: center;
    height: 2rem;
    width: 2rem;
  }

  .image {
    height: 200px;
    width: 200px;
  }
}
