.navbar.custom-nav {
    top: 20px; /* Gives it a floating look */
    position: fixed; /* Keeps it visible as you scroll */
    left: 50%;
    transform: translateX(-50%); /* Centers the absolute element */
    width: fit-content; /* Makes it only as wide as the links */
    background-color: #182235e2; /* Slight transparency */
    backdrop-filter: blur(0px); /* Modern frosted glass effect */
    border-radius: 50px; /* Makes it a pill shape */
    padding: 10px 30px;
    border: 1px solid rgba(209, 135, 0, 0.3);
    z-index: 1000;
    
}

.container-nav {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    flex-direction: row !important; /* Forces items to stay horizontal */
    gap: 20px;
}

.nav-link {
    color: aliceblue !important;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.nav-link:hover, .active {
    color: #d18700 !important;
}

/* Hide brand and toggler for this specific "short" style */
.navbar-toggler {
    display: none !important;
}