.footer {
  background-color: #121929;
  padding: 50px;
  color: #ffffff;
}
h3{
  color: #d18701;
  font-weight: bold;
}

.footercontent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.Fcontact:hover {
  transform: scale(0.9);
  transform: translateX(7px);
  color: #d18701;
}

.Fsocialicon > a:hover {
  transform: scale(1.5);
  transition: transform 1s ease;
  color: #d18701;
}

.Fsocialicon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.copyright {
  font-size: small;
  color: #d18701;
}

.footercontent section p {
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: bolder;
}
.footercontent section p:hover {
 transform: scale(1.25);
  transition: transform 1s ease;  color: #d18701;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footercontent {
    flex-direction: column;
    align-items: flex-start;
  }

  .Fsocialicon {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px;
  }

  .footercontent {
    gap: 5px;
  }

  .Fsocialicon {
    flex-wrap: wrap;
    gap: 5px;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .copyright {
    font-size: 0.9rem;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .copyright {
    font-size: 0.5rem;
    align-items: center;
  }
}
