
.SkillsPage{
     background: radial-gradient(circle, #e2e8f0, #bdcddf);
     padding: 50px;
} 


.skilltitle{
    font-family: cursive;
    margin-bottom: 4%;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}


.skillsCards{
   display: flex;
   flex-wrap: wrap;
   gap: 4rem;
   justify-content:center;   
}